@font-face {
    font-family: 'Nohemi';
    src: url('./Document fonts/Nohemi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nohemi';
    src: url('./Document fonts/Nohemi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nohemi';
    src: url('./Document fonts/Nohemi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('./Document fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('./Document fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Kurdis';
    src: url('./Document fonts/Kurdis-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
